.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}
.header__left {
  flex: 0.5;
  display: flex;
  background-color: white;
  color: grey;
  border-radius: 30px;
  align-items: center;
  padding: 10px;
  min-width: 70px;
}
.header__left > input {
  border: none;
  width: 100%;
}
.header__left > input:focus {
  outline: none;
}

.header__right {
  display: flex;
  align-items: center;
}
.header__right > h4 {
  margin-left: 10px;
}
.header__button {
  box-shadow: 0 0.2rem 0.5rem 0 black;
  border: 1px solid black;
  width: 100px;
  margin-right: 30px;
  padding: 13px 40px;
  border-radius: 50px;
  display: flex;
  background-color: #111111;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}
.add {
  color: red;
}

.header__button {
  color: grey;
}
.ikon {
  transform: scale(1.2);
}
